.skills {
  padding: 20px;
}

.skills__title {
  color: $green;
  font-size: $l-size;
  margin: 0;
  padding: 0;
}

.skills__subtitle {
  color: $mid-blue;
  font-size: $ml-size;
  font-weight: 400;
}

.skills__items {
  color: $text-light-blue;
  font-size: $m-size;
}

.skills__items > ul {
  list-style: square;
}