#left-bar {
  align-items: center;
  background: $bg-light-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: $left-bar-width;

  @media screen and (max-width: $desktop-breakpoint) {
    display: none;
  }
}

#left-bar div {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.left-bar__item {
  color: $lb-icon-color;
  cursor: pointer;
  margin-bottom: 10px;
  transition: color 100ms ease;

  &:hover {
    color: lighten($lb-icon-color, 20%);
  }
}

.left-bar__item:last-of-type {
  margin-bottom: 30px;
}

.left-bar__icon {
  padding: 10px;
}
