.certificates__entry {
  margin-bottom: 30px;
}

.certificate__name {
  font-size: $m-size;
  font-weight: 500;
}

.certificate__name > a {
  text-transform: uppercase;
}

.certificates__subsection {
  margin-top: 10px;
  margin-bottom: 30px;
}

.certificates__subsection__entry {
  list-style: circle;
  margin-bottom: 10px;
}

.certificates__progress {
  border-radius: 6px;
  color: $text-white;
  font-family: 'Ubuntu', sans-serif;
  font-size: $s-size;
  margin-left: 10px;
  padding: 2px 4px;
}

.progress-high {
  background: darken($green, 25%);
}

.progress-mid {
  background: darken($mid-blue, 25%);
}

.progress-low {
  background: darken($red, 20%);
}