@import './base/fonts';
@import './base/settings';
@import './base/base';
@import './base/global';

@import './components/Greeter/greeter';
@import './components/Global/mainbutton';
@import './components/GHButtons/githubbuttons';
