@import './base/fonts';
@import './base/settings';
@import './base/base';
@import './base/global';

@import './components/Header/header';
@import './components/Header/navbar';
@import './components/StatusBar/statusbar';
@import './components/Greeter/greeter';
@import './components/Global/mainbutton';
@import './components/GHButtons/githubbuttons';
@import './components/Container/container';
@import './components/Skills/skills';
@import './components/Education/education';
@import './components/Projects/projects';
@import './components/LeftBar/leftbar';