.main-contact {
  background: $bg-dark-blue;
  border-radius: 20px;
  color: $text-light-blue;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 15px;
  transition: color 500ms ease;

  &:hover {
    color: $mid-blue;
  }
}

.main-contact__text {
  font-size: $m-size;
  margin-left: 10px;
}
