#main-nav {
  float: left;
  font-family: 'Ubuntu', Helvetica, sans-serif;
}

#main-nav > ul {
  color: $text-light-blue;
  list-style: none;
  margin: 0;
  padding: 0;

  & li {
    display: inline-block;
  }

  & a {
    border-right: 1px solid darken($bg-mid-blue, 5%);
    border-top: 4px solid $bg-dark-blue;
    cursor: pointer;
    display: inline-block;
    font-size: $s-size;
    letter-spacing: .75px;
    padding: 12px 15px;
    text-transform: lowercase;
    transition: background, border-color 250ms ease;
  }

  & a:hover,
  & a[aria-current='page'] {
    border-color: $bg-dark-blue;
    background: $bg-mid-blue;
    color: $text-white;
  }

  & a[aria-current='page'] {
    border-color: lighten($bg-dark-blue, 5%);
  }
}

.main-nav__icon {
  margin-right: 5px;
}
