#main-nav {
  float: left;
}

#main-nav > ul {
  color: $text-light-blue;
  list-style: none;
  margin: 0 4px;
  padding: 0;

  & li {
    display: inline-block;
  }

  & a {
    border-top: 4px solid $bg-dark-blue;
    cursor: pointer;
    display: inline-block;
    font-size: $ms-size;
    padding: 10px;
    text-transform: lowercase;
    transition: background, border-color 250ms ease;
  }

  & a:hover,
  & a[aria-current='page'] {
    border-color: $bg-dark-blue;
    background: $bg-mid-blue;
    color: $text-white;
  }

  & a[aria-current='page'] {
    border-color: $bg-light-blue;
  }
}

.main-nav__icon {
  margin-right: 5px;
}
