#status-bar {
  bottom: 0;
  background: $bg-dark-blue;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 400;
  left: 0;
  position: fixed;
  width: 100vw;
}

#status-bar span,
#status-bar a {
  display: inline-block;
  padding: 2px 8px;

  &:hover {
    background: $bg-light-blue;
    cursor: pointer;
  }
}

.status-bar__left {
  float: left;
}

.status-bar__right {
  float: right;
}

.status-bar__icon {
  color: $text-light-blue;
}

.status-bar__text {
  color: $text-light-blue;
  font-size: $s-size;
  padding: 0 4px;
}
