#greeter {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  font-family: 'Ubuntu', Helvetica, sans-serif;
}

#greeter h1 {
  color: $text-mid;
  font-weight: 400;
  font-size: $l-size;
  letter-spacing: 2px;
  margin: 10px 20px;
  padding: 0;
  text-shadow: 5px 5px $bg-dark-blue;
  user-select: none;
}

#greeter .type-wrap {
  color: $text-dark;
  font-size: $mll-size;
  font-weight: 300;
  margin: 5px;
  padding: 0;
  user-select: none;
}

.typed-cursor {
  color: $mid-blue;
}
