.container {
  margin-bottom: 64px;
  margin-top: 36px;
  margin-left: $left-bar-width;
  max-width: 960px;
  padding: 20px;

  @media screen and (max-width: $desktop-breakpoint) {
    margin-left: 0;
  }
}

.container__title {
  color: $green;
  font-size: $l-size;
  margin: 0;
  padding: 0;

  @media screen and (max-width: $desktop-breakpoint) {
    font-size: $ml-size;
  }
}

.container__subtitle {
  color: $mid-blue;
  font-size: $ml-size;
  font-weight: 400;

  @media screen and (max-width: $desktop-breakpoint) {
    font-size: $m-size;
  }
}

.container__list {
  color: $text-light-blue;
  font-size: $m-size;
}

.container ul {
  list-style: square;
}

.container a:hover {
  color: $text-mid;
}
