html {
  /* Converts rem to base 10 */
  font-size: 62.5%;
}

body {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background: $bg-mid-blue;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}