/* Global rules */
a {
  color: $text-light-blue;
  text-decoration: none;
  transition: color 500ms ease;
}

a:visited {
  color: darken($text-light-blue, 10%);
}

.color-transform {
  transform: color 500ms ease;
}
