// Colors
$bg-dark-blue: #21252b;
$bg-mid-blue: #282c34;
$bg-light-blue: #333842;

$text-white: #f3f3f3;
$text-mid: #c2c2c2;
$text-dark: #909295;  
$text-blue: #636d83; 
$text-light-blue: #abb2bf;

$green: #98c379;
$red: #e06c75;
$cyan: #56b6c2;
$mid-blue: #42a5f5; 
$orange: #d19a66;
$js-orange: #ffca28;
$dark-orange: #e44d26;
$light-brown: #6e6352;

// Spacing
$s-size: 1.2rem;
$ms-size: 1.4rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;